{% load static %}



<!DOCTYPE html>
<html>



<div class="animated-title" id="heading">
  <div class="text-top">
    <div>
      <span>Hello,</span>
	  <span>I'm</span>
      <span style="color:#284d35"> Eddie</span>
    </div>
  </div>
  <div class="text-bottom">
    <div>Welcome,</div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>




<!-- Links (sit on top) 
<div class="topnav" id="topnav">
	<a class="active" href="#home">HOME.</a>
	<a href="#projects">PROJECTS</a>
	<a href="#cv">CV</a>
  </div>
-->

  

<head>
	<title>EDDIE GAO</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">	
</head>

<body>


	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-80  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/eg.jpg' %}" >
					<h4><a style="color:#000000" href="mailto:egao1@ocdsb.ca">EDDIE GAO.</a></h4>
                    <p style="color:#888E8A">(OCDSB) John McCrae S.S Highschool Student</p>
					<p><a style="color:#143923" href="https://www.linkedin.com/in/eddiegao1/">Linkedin.</a></p> 
                    <p><a style="color:#143923" href="https://github.com/egao8">Github.</a></p>
					<p><a style="color:#143923" href="https://drive.google.com/file/d/1TpWOGtTLD6cpt-z12xr5eY5ZXdpgbafM/view?usp=sharing">Resume.</a></p>

				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<div class="wrapper">
						<div class = "typing-demo"> 
							<h3 style="color:#47584D">"The core of beauty is simplicity."</h3>
						</div>
						
					</div>
					<hr>
					
					<h5>A grade 11. student attending John McCrae Secondary School striving for further experiences in the post-secondary study of computer science. 

                        Ambition interwoven with expertise in software development, machine learning, and mobile development. Exhibition of team-based projects alongside graphic designers, project supervisors, and fellow developers.</h5>

                    <h5>With experience in programming and UX design, I am passionate about working at the intersection of ingenious technologies and eloquent design. Currently open to internship opportunities throughout the 2023 winter and summer terms. Do shoot a message regarding any inquiries along with further access to projects.</h5>

                    <h5>In the meanwhile, go ahead and look around -- below are qualifications, skills, work experience, projects, and future goals.</h5>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-8">
				<div class="card card-body h-100">
					<div class="wrapper">
						<div class = "typing-demo"> 
							<h4 style="color:#47584D">&#127794 My Experience as a Developer.</h4>
						</div>
						
					</div>
					
					<hr>
					<p><b>Machine Learning Research Internship | Carleton University -- July to September 2022</b></p>
                    <p> •   Leveraged algorithmic solutions and heterogeneous recommendation systems from the Swiss Federal Institute of Technology (EPFL) to facilitate replication of a large-scale X-MAP recommender based on artificial AlterEgos and Apache Spark.</p>
                    <p> •	Extracted an updated Amazon reviews dataset (2018) with metadata from <b>15.5 million products</b> to generate precise MAE results akin to previously established heterogeneous recommendation systems.</p>
                    <p> •	Strategised with Prof. Ahmed El-Roby the significance of heterogeneity in e-commerce through multi-domain metapaths.</p>
					</div>
			</div>

			<div class="col-md-4">
				<div class="card card-body h-100">
					<div class="wrapper">
						<div class = "typing-demo"> 
							<h4 style="color:#47584D">&#128013 Skills and Tools.</h4>
						</div>
						
					</div>
					<hr>
                    <p><b>LANGUAGES</b></p>
					<p>•  Python, Java, C#, Swift, CSS, HTML</p>
                    <p><b>LIBRARIES and FRAMEWORKS</b></p>
					<p>•  NumPy, Pandas, Tensorflow, Unity, Matplotlib, Jupyter, Docker, Apache Spark, Git, Django, Bootstrap, WPIlib</p>
                    <p><b>TOOLS</b></p>
					<p>•  Agile Sprint, XCode, MS Office Suite</p>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<div class="wrapper">
						<div class = "typing-demo"> 
							<h4 style="color:#47584D">&#128200 <b>(Project)</b> AAPL Stock Trading Strategy.</h4>
						</div>
						
					</div>
					
					<hr>
					<p>Leveraging a strategy coined the <b>Dual Moving Average Crossover (DMAC)</b>, the stock trading strategy prompts decisions for when to buy and sell a stock. </p>

					<p>With <b>AAPL</b> data over the span of five years, the strategy aims to calculate two moving averages of case exchange rates of Apple stock, determine the crossover points, and ultimately output a decision on when to sell and buy.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<div class="wrapper">
						<div class = "typing-demo"> 
							<h4 style="color:#47584D">&#128101 <b>(Project)</b> Gender-Predict Neural Network.</h4>
						</div>
						
					</div>
					
				<hr>
				<p>Utilised NumPy to develop a neural network which predicts gender using datasets of heights and weights.</p>
				<p>Established an application and knowledge of stochastic gradient descent and <b>backpropagation</b> to train the network and produce an outputted gender prediction with <b>95%</b> median accuracy.</p>

				</div>
			</div>

		</div>


		<br>
		<br>
		<br>
		<br>

		<div class="row">
			<div class="col-md-12">
				<div class="card card-body h-20">
					<p>Author: Eddie Gao (2022) &nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Contact me: <a href="mailto:egao1@ocdsb.ca">egao1@ocdsb.ca</a></p>
				</div>
			</div>
		
	</div>



</body>



</html>








